<div class="ph3 ph4-ns pt3 pt4-ns tl">
  <script>
    (function() {
      var cx = '013118078702907405983:6qrvy-rv88a';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <gcse:searchbox></gcse:searchbox>
</div>

<section class="ph3 ph4-ns pt3 pt4-ns tl">
  <h5 class="pt0 mt0 mb1 ">Your Results</h5>
  <gcse:searchresults></gcse:searchresults>
</section>
